<div class="row">
    <div class="col-md-7">
        <!-- PCA9685 1 -->
        <div class="card shadow pca9685" id="pca9685_1">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col">
                        <h3 class="text-primary"><i class="fa fa-lightbulb"></i>&nbsp;LED Effect 1</h3>
                        <p class="text-primary m-0 font-weight-bold"></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    <!-- Existing form elements ... -->

                    <h4>Animation Timing</h4>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="animation-type"><strong>Animation Type</strong></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-row">
                                <div class="col col-md-2">
                                    <input class="form-control" type="radio" name="animation-type" value="fadeIn" id="fadeIn" checked>
                                </div>
                                <div class="col col-md-10">
                                    <label for="fadeIn">
                                        <strong>Fade In</strong><br>
                                        Fade LEDs in from a starting brightness.
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col col-md-2">
                                    <input class="form-control" type="radio" name="animation-type" value="fadeOut" id="fadeOut">
                                </div>
                                <div class="col col-md-10">
                                    <label for="fadeOut">
                                        <strong>Fade Out</strong><br>
                                        Fade LEDs out to a minimum brightness.
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col col-md-2">
                                    <input class="form-control" type="radio" name="animation-type" value="fadeTo" id="fadeTo">
                                </div>
                                <div class="col col-md-10">
                                    <label for="fadeTo">
                                        <strong>Fade To</strong><br>
                                        Fade LEDs to a specific brightness.
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col col-md-2">
                                    <input class="form-control" type="radio" name="animation-type" value="immediate" id="immediate">
                                </div>
                                <div class="col col-md-10">
                                    <label for="immediate">
                                        <strong>Immediate</strong><br>
                                        Set LEDs to target brightness immediately.
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col col-md-2">
                                    <input class="form-control" type="radio" name="animation-type" value="sequence" id="sequence">
                                </div>
                                <div class="col col-md-10">
                                    <label for="sequence">
                                        <strong>Sequence</strong><br>
                                        Fade LEDs in sequence.
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col col-md-2">
                                    <input class="form-control" type="radio" name="animation-type" value="shifting" id="shifting">
                                </div>
                                <div class="col col-md-10">
                                    <label for="shifting">
                                        <strong>Shifting</strong><br>
                                        Shift LED brightnesses in a pattern.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="animation-duration"><strong>Animation Duration (ms)</strong></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="number" name="animation-duration" min="1" max="10000" value="1000">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="animation-brightness"><strong>Target Brightness</strong></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="number" name="animation-brightness" min="0" max="4095" value="4095">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <button class='btn btn-default' type="submit"><i class="fa fa-save"></i> Save</button>
                            <button class='btn btn-success' name="test" value="runtest"><i class="fa fa-play"></i> Test</button>
                            <button class="btn btn-outline-warning btn-xl" onclick="socket.send('stopdemo'); return false;">
                                <i class="fa fa-stop"></i>
                                Stop Test
                            </button>
                            <button class="btn btn-outline-danger btn-xl" onclick="socket.send('cleardemo'); return false;">
                                <i class="fa fa-power-off"></i>
                                All leds off
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
